/* ------ Login Screen ------ */

.panel {
	background: url(../images/down_screen.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
}
.main {
	width: 100%;
}
.popupButton {
	background: url(../images/menu.png) no-repeat;
	background-size: 100% 100%;
	width: 12% !important;
	height: 33px !important;
	position: absolute !important;
	top: 6px !important;
	right: 7px;
}

.sliderBg {position:relative; width:100%; height:100%; display: none; z-index: 500;}

.slider {
	position: absolute;
	width: 86%;
	top: 6px;
	right:0;
		
	left: 0px;
}
.dropBox {
	background: url(../images/inactve_container.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	float: left;
}
.dropBox li {
	width: 100%;
}
.dropBox li span {
	background: url(../images/aerrow.png) no-repeat;
	background-size: 100% 100%;
	width: 5%;
	height: 20px;
	float: right;
}
.dropBox li a {
	color: white;
	width: 100%;
	padding: 4% 4%;
	float: left;
	border-bottom: 1px solid #6cd9ff;
}
